/* page container */
.page-container {
  display: flex;
  justify-content: center;
  .content-wrapper {
    width: 1000px;
    #chef {
      width: 350px;
      margin: 25px 40px 20px 0;
      float: left;
      border: 2px solid #cea135;
    }
    p {
      letter-spacing: 1px;
      line-height: 30px;
    }
  }
}
